@model IEnumerable<QuanLyTro.Models.TTinPhongTro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutPage1.cshtml";
}

<h2>Phòng Trọ</h2>

<button type="button" class="btn btn-outline-warning text-bg-dark" style="margin-bottom: 20px">
    @Html.ActionLink("Thêm Phòng Trọ Mới", "ThemPhongTro")
</button>


<div class="container-item">
    @foreach (var item in Model)
    {
        <div class="item">
            <img src="~/design/img/@item.MaPhong .jpg">
            <p href="~/Home/DetailPTro?id=@item.MaPhong" style="display:inline-block">
                @Html.DisplayFor(modelItem => item.MaPhong)
            </p>

            @if (item.TinhTrang == true)
            {
                <p style="display:inline-block; color:brown">
                    ^o^ Còn Phòng ^o^
                </p>
            }
            else
            {
                <p style="display: inline-block; color: brown">
                    ╯︿╰ Hết Phòng ╯︿╰
                </p>
            }

            <button class="btn btn-outline-warning text-bg-dark">
                @Html.ActionLink("Chỉnh sửa", "UpdTTPTro", new { id = item.MaPhong })
            </button>
            <button class="btn btn-outline-warning text-bg-dark">
                @Html.ActionLink("Chi tiết", "DetailPTro", new { id = item.MaPhong })
            </button>
            <button class="btn btn-outline-warning text-bg-dark">
                @Html.ActionLink("Xóa", "XoaTTinPTro", new { id = item.MaPhong })
            </button>
        </div>
    }
</div>