@model QuanLyTro.Models.TTinChuTro

@{
    ViewBag.Title = "UpdTTCTro";
    Layout = "~/Views/LayoutPage1.cshtml";
}

<div class="container1" style="margin-top: 50px">
    <div class="col-md-8">
        <h2>
            Sửa Thông Tin Người Cho Thuê
        </h2>
        <hr />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Thông Tin Chủ Trọ</h2>
            <hr />
            @Html.HiddenFor(model => model.HoTenChuTro)

            <div class="form-group">
                <label>Ngày Sinh:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgaySinh, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Số Điện Thoại:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Nơi Ở:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoiDKHoKhau, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoiDKHoKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Số Lượng Phòng:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuongPhong, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    @Html.ValidationMessageFor(model => model.SoLuongPhong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "DsachChuTro")
    </div>
</div>