@model IEnumerable<QuanLyTro.Models.TTinNguoiThue>

@{
    ViewBag.Title = "DsachNguoiThue";
    Layout = "~/Views/LayoutPage1.cshtml";
}

<h2>Danh Sách Người Thuê</h2>

<button type="button" class="btn btn-outline-warning text-bg-primary" style="margin-bottom: 20px">
    @Html.ActionLink("Thêm Thông tin Người thuê", "DKiThue")
</button>
<table class="table">
    <tr>
        <th>
            Họ và Tên
        </th>
        <th>
            Giới Tính
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
            Số Điện Thoại
        </th>
        <th>
            Ngày Vào
        </th>
        <th>#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenNguoiThue)
            </td>
            <td>
                @if (item.GioiTinh == true)
                {
                    <p>Nam</p>
                }
                else
                {
                    <p>Nữ</p>
                }
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy}", item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayVaoO)
            </td>
            <td>
                <button class="btn btn-outline-warning text-bg-dark">
                    @Html.ActionLink("Chỉnh sửa", "UpdTTNgThue", new { id = item.TT })
                </button>
                <button id="myBtn" class="btn btn-outline-warning text-bg-dark">
                    @Html.ActionLink("Chi tiết", "DetailNgThue", new { id = item.TT })
                </button>
                <button class="btn btn-outline-warning text-bg-dark">
                    @Html.ActionLink("Xóa", "XoaTTinNgThue", new { id = item.TT })
                </button>
            </td>
        </tr>
    }

</table>
